src/Model/Knd/ConstructionSupervision/Resources/ConstructionSupervision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://rostelekom.ru/ConstructionSupervision/1.0.3" targetNamespace="urn://rostelekom.ru/ConstructionSupervision/1.0.3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="request" type="tns:requestType">
		<xsd:annotation>
			<xsd:documentation>Корневой элемент запроса</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="requestType">
		<xsd:annotation>
			<xsd:documentation>Root request element</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Service" type="tns:FormStepServiceType">
				<xsd:annotation>
					<xsd:documentation>Служебная информация</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Goal" type="tns:GoalType">
				<xsd:annotation>
					<xsd:documentation>Подуслуга</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VariantChoice" type="tns:VariantChoiceType" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Вариант предоставления услуги</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DelegateInfo" type="tns:DelegateInfoType">
				<xsd:annotation>
					<xsd:documentation>Категория заявителя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="LegalData" type="tns:LegalDataType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Данные о юридическом лице</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="BusinessmanData" type="tns:BusinessmanDataType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Данные об индивидуальном предпринимателе</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="RecipientPersonalData" type="tns:RecipientPersonalDataType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Данные о физическом лице</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:choice minOccurs="0" maxOccurs="1">
				<xsd:element name="DelegateLegalData" type="tns:DelegateLegalDataType">
					<xsd:annotation>
						<xsd:documentation>Данные об юридическом лице при заполнении сведений представителем</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DelegateBusinessmanData" type="tns:DelegateBusinessmanDataType">
					<xsd:annotation>
						<xsd:documentation>Данные об индивидуальном предпринимателе при заполнении сведений представителем</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DelegatePersonalData" type="tns:DelegatePersonalDataType">
					<xsd:annotation>
						<xsd:documentation>Данные о физическом лице при заполнении сведений представителем</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="CompetentOrganization" type="tns:CompetentOrganizationType">
				<xsd:annotation>
					<xsd:documentation>Выбор органа, уполномоченного на осуществление функции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegulatingOrganization" type="tns:RegulatingOrganizationType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Сведения о саморегулируемой организации, членом которой является заявитель</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Data" type="tns:DataType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Сведения для осуществления функции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MethodGettingResults" type="tns:MethodGettingResultsType">
				<xsd:annotation>
					<xsd:documentation>Способ получения результата</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AdditionalInformation" type="tns:AdditionalInformationType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дополнительная информация по заявлению</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Documents" type="tns:DocumentsType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Сведения о вложениях</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="oktmo" type="tns:oktmo" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="FormStepServiceType">
		<xsd:annotation>
			<xsd:documentation>Служебная информация</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="currentDate" type="tns:date">
				<xsd:annotation>
					<xsd:documentation>Текущая дата</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="userType" type="tns:userTypeType">
				<xsd:annotation>
					<xsd:documentation>Тип текущего пользователя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orderId" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Номер заявления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orderStatusCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Код режима внесения данных</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgBrief" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>ЮЛ и ИП: Является ли генеральным директором</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TargetId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Код цели обращения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TargetName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Наименование цели обращения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DepartmentId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Код ведомства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DepartmentName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Наименование ведомства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="okato" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ОКАТО выбранного региона</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="userTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PERSON_RF"/>
			<xsd:enumeration value="BUSINESSMAN"/>
			<xsd:enumeration value="EMPLOYEE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GoalType">
		<xsd:annotation>
			<xsd:documentation>Подуслуга</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Подача извещения о начале строительства, реконструкции объекта капитального строительства</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Подача извещения об окончании строительства, реконструкции объекта капитального строительства</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>Получение заключения о соответствии построенного, реконструированного объекта капитального строительства проектной документации</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="VariantChoiceType">
		<xsd:annotation>
			<xsd:documentation>Вариант предоставления услуги</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KP_SN_03" type="tns:KP_SN_03Type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Разрешение на строительство выдано на этап строительства, реконструкции?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KP_SN_04" type="tns:KP_SN_04Type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Требуется экспертиза проектной документации?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KP_SN_05" type="tns:KP_SN_05Type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Вносились изменения в проектную документацию?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KP_SN_06" type="tns:KP_SN_06Type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Требуется проведение экологической экспертизы проектной документации?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KP_SN_07" type="tns:KP_SN_07Type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Застройщиком или техническим заказчиком привлекались по договору иные лица для осуществления строительства?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KP_SN_08" type="tns:KP_SN_08Type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Заявитель является членом саморегулируемой организации в области инженерных изысканий, архитектурно-строительного проектирования, строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="KP_SN_03Type">
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Разрешение на строительство выдано на этап</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Разрешение на строительство выдано на весь объект</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KP_SN_04Type">
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Экспертиза проведена</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Экспертиза не требуется</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KP_SN_05Type">
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Изменения вносились</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Изменения не вносились</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KP_SN_06Type">
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Экспертиза проведена</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Экспертиза не требуется</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KP_SN_07Type">
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Иные лица привлекались</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Иные лица не привлекались</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KP_SN_08Type">
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Заявитель является членом саморегулируемой организации</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Заявитель не является членом саморегулируемой организации</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DelegateInfoType">
		<xsd:annotation>
			<xsd:documentation>Категория заявителя</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Заявитель</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Представитель</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LegalDataType">
		<xsd:annotation>
			<xsd:documentation>Данные о юридическом лице</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="orgFullname" type="tns:string-4000">
				<xsd:annotation>
					<xsd:documentation>Полное наименование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgShortname" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Краткое наименование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgOgrn" type="tns:string-13">
				<xsd:annotation>
					<xsd:documentation>ОГРН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgInn" type="tns:string-10">
				<xsd:annotation>
					<xsd:documentation>ИНН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgKpp" type="tns:string-9" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>КПП</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgLegalform" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Код для справочника «Организационно-правовая форма»</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgLegalform.text_value" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Значение для справочника «Организационно-правовая форма»</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgPhone" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Телефон</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgEmail" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Электронная почта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Юридический адрес</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PostAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Почтовый адрес</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RepresentativeInfo" type="tns:RepresentativeInfoType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные об уполномоченном лице</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RepresentativeInfoType">
		<xsd:annotation>
			<xsd:documentation>Данные об уполномоченном лице</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="category" type="tns:LegalcategoryType">
				<xsd:annotation>
					<xsd:documentation>Категория уполномоченного лица</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fullfio" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ФИО</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastname" type="tns:fio">
				<xsd:annotation>
					<xsd:documentation>Фамилия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="firstname" type="tns:fio">
				<xsd:annotation>
					<xsd:documentation>Имя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="middlename" type="tns:fio" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Отчество</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="snils" type="tns:snils" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>СНИЛС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="citizenship" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Гражданство</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Phone" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Телефон</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Email" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Электронная почта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocumentPersonal" type="tns:DocumentPersonalType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные ДУЛ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="LegalcategoryType">
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Руководитель организации</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Сотрудник организации</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="BusinessmanDataType">
		<xsd:annotation>
			<xsd:documentation>Данные об индивидуальном предпринимателе</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="orgFullname" type="tns:string-4000">
				<xsd:annotation>
					<xsd:documentation>Полное наименование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgShortname" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Краткое наименование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgOgrn" type="tns:string-15">
				<xsd:annotation>
					<xsd:documentation>ОГРНИП</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgInn" type="tns:string-12">
				<xsd:annotation>
					<xsd:documentation>ИНН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="snils" type="tns:snils" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>СНИЛС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgLegalform" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Код для справочника «Организационно-правовая форма»</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgLegalform.text_value" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Значение для справочника «Организационно-правовая форма»</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgPhone" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Телефон</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgEmail" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Электронная почта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PostAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Почтовый адрес</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocumentPersonal" type="tns:DocumentPersonalType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные ДУЛ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentPersonalType">
		<xsd:annotation>
			<xsd:documentation>Данные ДУЛ</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="typeDoc" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Тип документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nameDoc" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Наименование документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="docseries" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Серия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="docnumber" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="issuedate" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата выдачи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="issueorg" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Кем выдан</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validate" type="tns:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Срок действия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="issueidPassportRF" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Код подразделения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecipientPersonalDataType">
		<xsd:annotation>
			<xsd:documentation>Данные о физическом лице</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fullfio" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ФИО</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastname" type="tns:fio">
				<xsd:annotation>
					<xsd:documentation>Фамилия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="firstname" type="tns:fio">
				<xsd:annotation>
					<xsd:documentation>Имя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="middlename" type="tns:fio" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Отчество</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="snils" type="tns:snils" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>СНИЛС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gender" type="tns:gender" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Пол</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateBirth" type="tns:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="citizenship" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Гражданство</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Phone" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Телефон</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Email" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Электронная почта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="regAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Адрес регистрации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="factAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Адрес проживания</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocumentPersonal" type="tns:DocumentPersonalType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные ДУЛ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DelegateLegalDataType">
		<xsd:annotation>
			<xsd:documentation>Данные об юридическом лице при заполнении сведений представителем</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="orgFullname" type="tns:string-4000">
				<xsd:annotation>
					<xsd:documentation>Полное наименование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgShortname" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Краткое наименование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgOgrn" type="tns:string-13">
				<xsd:annotation>
					<xsd:documentation>ОГРН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgInn" type="tns:string-10">
				<xsd:annotation>
					<xsd:documentation>ИНН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgKpp" type="tns:string-9" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>КПП</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgLegalform" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Код для справочника «Организационно-правовая форма»</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgLegalform.text_value" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Значение для справочника «Организационно-правовая форма»</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Юридический адрес</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PostAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Почтовый адрес</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DelegateBusinessmanDataType">
		<xsd:annotation>
			<xsd:documentation>Данные об индивидуальном предпринимателе при заполнении сведений представителем</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="orgFullname" type="tns:string-4000">
				<xsd:annotation>
					<xsd:documentation>Полное наименование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgShortname" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Краткое наименование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgOgrn" type="tns:string-15">
				<xsd:annotation>
					<xsd:documentation>ОГРНИП</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgInn" type="tns:string-12">
				<xsd:annotation>
					<xsd:documentation>ИНН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="snils" type="tns:snils" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>СНИЛС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgLegalform" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Код для справочника «Организационно-правовая форма»</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgLegalform.text_value" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Значение для справочника «Организационно-правовая форма»</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PostAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Почтовый адрес</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="citizenship" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Гражданство</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocumentPersonal" type="tns:DocumentPersonalType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные ДУЛ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DelegatePersonalDataType">
		<xsd:annotation>
			<xsd:documentation>Данные о физическом лице при заполнении сведений представителем</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fullfio" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ФИО</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastname" type="tns:fio">
				<xsd:annotation>
					<xsd:documentation>Фамилия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="firstname" type="tns:fio">
				<xsd:annotation>
					<xsd:documentation>Имя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="middlename" type="tns:fio" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Отчество</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="snils" type="tns:snils" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>СНИЛС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gender" type="tns:gender" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Пол</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateBirth" type="tns:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата рождения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="citizenship" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Гражданство</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="regAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Адрес регистрации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="factAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Адрес проживания</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocumentPersonal" type="tns:DocumentPersonalType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Данные ДУЛ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompetentOrganizationType">
		<xsd:sequence>
			<xsd:element name="OrganizationID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Код для выбранного значение справочника "Уполномоченный орган"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Значение для выбранного значение справочника "Уполномоченный орган"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RegulatingOrganizationType">
		<xsd:sequence>
			<xsd:element name="FullName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Полное наименование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OGRN" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ОГРН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="INN" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>ИНН</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DataType">
		<xsd:annotation>
			<xsd:documentation>Сведения для осуществления функции</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CaseNumber" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер дела</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ActNumber" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Номер акта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ActDate" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата акта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObjectName" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Наименование объекта капитального строительства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortProjectParameters" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Краткие проектные характеристики</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StageDescription" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Описание этапа строительства, реконструкции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsAddressManuallyRequired" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Ввести адрес (местоположение) вручную</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FIASObjectAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Адрес (местоположение) объекта капитального строительства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObjectAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Адрес (местоположение) объекта капитального строительства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartDate1" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата начала строительства, реконструкции 1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate1" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата окончания строительства, реконструкции 1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartDate2" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата начала строительства, реконструкции 2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate2" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Дата окончания строительства, реконструкции 2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OrganizationsListBlock" type="tns:OrganizationListBlockType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Блок сведений о привлеченных для строительства лицах</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConstructionPermit" type="tns:ConstructionPermitType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Реквизиты разрешения на строительство</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProjectDocumentationExpertise" type="tns:ProjectDocumentationExpertiseType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Реквизиты положительного заключения экспертизы проектной документации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExpertiseEnvironmentalAssessment" type="tns:ExpertiseEnvironmentalAssessmentType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Реквизиты положительного заключения государственной экологической экспертизы проектной документации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LandPlotCadastralNumberBlock" type="tns:LandPlotCadastralNumberBlockType">
				<xsd:annotation>
					<xsd:documentation>Кадастровый номер земельного участка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LandPlotCadastralNumberBlockType">
		<xsd:sequence>
			<xsd:element name="LandPlotCadastralNumber" type="xsd:string" minOccurs="1" maxOccurs="20">
				<xsd:annotation>
					<xsd:documentation>Кадастровый номер земельного участка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganizationListBlockType">
		<xsd:sequence>
			<xsd:element name="OrganizationsList" type="xsd:string" minOccurs="1" maxOccurs="20">
				<xsd:annotation>
					<xsd:documentation>Сведения о привлеченных для строительства лицах</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConstructionPermitType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер разрешения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Date" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Дата выдачи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Issuer" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Орган, выдавший разрешение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Term" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Срок действия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProjectDocumentationExpertiseType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Date" type="tns:date">
				<xsd:annotation>
					<xsd:documentation>Дата выдачи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Issuer" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Орган, выдавший заключение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExpertiseEnvironmentalAssessmentType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Date" type="tns:date">
				<xsd:annotation>
					<xsd:documentation>Дата выдачи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Issuer" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Орган, выдавший заключение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Term" type="tns:date">
				<xsd:annotation>
					<xsd:documentation>Срок действия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MethodGettingResultsType">
		<xsd:annotation>
			<xsd:documentation>Способ получения результата</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsPaperDocumentRequired" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Получить дополнительно результат на бумажном носителе</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MethodGettingResults" type="tns:MethodGettingResultsInfoType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Способ получения результата</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="MethodGettingResultsInfoType">
		<xsd:annotation>
			<xsd:documentation>Выбор способа получения результата</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AdditionalInformationType">
		<xsd:sequence>
			<xsd:element name="Information" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Дополнительная информация</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentsType">
		<xsd:annotation>
			<xsd:documentation>Сведения о вложениях</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndentLineDocumentation" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Документ о вынесении на местность линий отступа от красных линий</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProjectDescriptionPartition" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Пояснительная записка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SchemeLandPlotPartition" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Схема планировочной организации земельного участка (проект полосы отвода применительно к линейным объектам)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ArchitecturalSolutionsPartition" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Архитектурные и конструктивные решения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConstructionProjectPartition" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Проект организации строительства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AdditionalSectionsProjectDocumentation" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Дополнительные разделы проектной документации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DelegateLegalDocFile" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Нотариально заверенная доверенность, подтверждающая права сотрудника организации на получение услуги</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DelegateLegalDocSigFile" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Откреплённая усиленная квалифицированная электронная подпись правомочного должностного лица (нотариуса)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DelegateDocFile" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Документ, подтверждающий полномочия представителя на подачу заявления</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DelegateDocSigFile" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Откреплённая усиленная квалифицированная электронная подпись правомочного должностного лица (нотариуса)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AdditionalDocument" type="tns:DocInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Дополнительные документы</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocInfoType">
		<xsd:annotation>
			<xsd:documentation>Сведения о вложении</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodeDocument" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Код документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Имя файла документа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="URL" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Относительный путь к файлу внутри архива</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>MIME-тип контента</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="gender">
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>Мужской</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>Женский</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-9">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-10">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-12">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-13">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-15">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-20">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-34">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="34"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-36">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-2048">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2048"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string-4000">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="oktmo">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="date">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:pattern value="[0-9]{2}[.][0-9]{2}[.][0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fio">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="snils">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
			<xsd:pattern value="[0-9]{3}[-][0-9]{3}[-][0-9]{3} [0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="FormResponseType">
		<xsd:annotation>
			<xsd:documentation>Ответ на подачу заявления или запроса на отмену заявления или текстового сообщения от заявителя в ведомство</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="changeOrderInfo" type="tns:changeOrderInfoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FormResponse" type="tns:FormResponseType"/>
	<xsd:complexType name="changeOrderInfoType">
		<xsd:annotation>
			<xsd:documentation>Информация для изменения статуса заявления в ЛК ЕПГУ</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="orderId" type="tns:orderIdType"/>
			<xsd:element name="statusCode" type="tns:statusCodeType"/>
			<xsd:element name="comment" type="tns:string-2048" minOccurs="0"/>
			<xsd:element name="cancelAllowed" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="sendMessageAllowed" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="orderIdType">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>Номер заявки в ЛК ЕПГУ</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="pguId" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="statusCodeType">
		<xsd:annotation>
			<xsd:documentation>Новый статус заявления</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="orgCode" type="tns:string-20">
				<xsd:annotation>
					<xsd:documentation>Код ведомственного статуса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="techCode" type="tns:string-20">
				<xsd:annotation>
					<xsd:documentation>Код статуса ЕПГУ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>